<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission To Mars!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars!</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Data!</a></p>
        </div>

        <div class="row" id="image">
            <div class="col-md-8">
                <h2>Featured Image</h2>
                <img src="{{mars.Featured_Image}}" alt="Featured Image">
            </div>
        </div>   
           
        <div class="col-md-4">
                <h3>{{mars.title | safe }}</h3>
                <p>{{mars.paragraph | safe }}</p>
                </br>
                <h3>Facts</h3>
                <p>{{mars.mars_Facts | safe }}</p>
        </div>
        

        <div class="row" id="Hemispheres">
            <div class="col-md-12">
              <h3>{{mars.HemisphereNames[0] | safe}}</h3>
              <img width="400 px" height="400 px" src="{{mars.HemisphereImgs[0] | safe }}">
              
              <h3>{{mars.HemisphereNames[1] | safe}}</h3>
              <img width="400 px" height="400 px" src="{{mars.HemisphereImgs[1] | safe }}">
              
              <h3>{{mars.HemisphereNames[2] | safe}}</h3>
              <img width="400 px" height="400 px" src="{{mars.HemisphereImgs[2] | safe }}">
              
              <h3>{{mars.HemisphereNames[3] | safe}}</h3>
              <img width="400 px" height="400 px" src="{{mars.HemisphereImgs[3] | safe }}">                
              
        </div>
    </div>    
</body>
</html>